@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');


body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    
}

/******** GRID *********/
.grid-container {
    margin-top: 75px;
    display: grid;
    grid-template-columns: 10% 20% 40% 20% 10%;
    grid-template-rows: 72px 1max-content;
    grid-template-areas: "header header header header header" 
                         "sidebar-left main-content main-content main-content sidebar-right";
}
.header {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 72px;
    grid-template-areas: ". nav";
    grid-area: header;
    background-color: #2D3054;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.096);
}
nav { 
    grid-area: nav; 
    align-items: right;
    justify-self: right;
}

.sidebar-left { grid-area: sidebar-left; }

.sidebar-right { grid-area: sidebar-right; }

.main-content { grid-area: main-content; }

/******** Top Bar *********/
.logo {
    width: 250px;
    height: 70px;
}

.hide-mobile {
    display: none;
}

ul {
    list-style-type: none;
}
nav ul {
    position: fixed;
    top: 0;
    right: 0;
    text-align: left;
    background: white;
    height: 100%;
    z-index: 7;
    padding-top: 3em;
    margin: 0;
    padding: 0;
}
nav ul li a{
    color: #2D3054;
    text-decoration: none;
    display: block;
    padding: 1em 2em;
}
nav ul li a:hover{
    color: plum;
}
.page li {
    font-size: 1.3em;
    line-height: 1.6em;
}
.exit-btn {
    margin-bottom: 1em;
    margin-top: 1.3em;
    text-align: right;
    padding: 0 1.4em;
}
.exit-btn img{
    width: 17px;
    cursor: pointer;
}
.menu {
    margin-top: 25px;
    margin-right: 10px;
}


/******** Headings *********/
h1 {
    font-size: 2em;
    text-align: center;
    padding-top: 1em;
}

h2 {
    font-size: 1.5em;
    text-align: left;

}

h3 {
    font-size: 1.7em;
    text-align: center;
    margin: 0;
}

h4 {
    font-size: 1.3em;
    text-align: center;
    margin-top: 1em;
}
h5 {
    font-size: 1.2em;
}

h6 {
    font-size: 2.5em;
    margin: 0;
}


/******** Index *********/

.main-content {
    align-items: center;
}
.container img {
    size: 100%;
    display: flex;
}
.work-item a {
    width: 100%;
    display: inline-block;
}

.work-item span {
    display: flex;
    flex-direction: column; 
    justify-content: center
}
.space {
    padding-bottom: 3em;
}

/******* Images and list ********/
.img-container {
    display: flex;
    justify-content: center;
    padding-bottom: 2em;
}
.img-container-4{
    display: flex;
    align-items: center;

    flex-direction: column;
}
.img {
    size: 70%;
    height: auto;
 }
 .phase-img {
     size: 26%;
     margin-top: 5em;
     height: auto;
 }
 .main-content ul {
    list-style-type: circle;
}

.full-img {
    size: 100%;
    padding-top: 1.5em;
    height: auto;
}

.misc-img {
    size: 30%;
    margin-top: 3em;
    height: auto;
}


/******* ABOUT ********/
.about {
    padding: 3em 0;
}
.about-container { 
    display: grid;
    grid-template-areas: 
    'txt p-img'
    'emote emote';

    grid-template-columns: 50% 50%;
    margin-top: 75px;
    padding: 0 15em;
}
.about-txt{
    grid-area: txt;

    display: flex;
    align-items: center;
}
.portrait {
    display: flex;
    flex-direction: row;
}
.portrait-container {
    grid-area: p-img;

    display: flex; 
    justify-content: flex-end;
}
.portrait-img {
    size: 50%;
    border-radius: 50%;
    padding: 5px 0;
}
.emote-txt{
    grid-area: emote;

    display: flex;
    align-items: center;
    padding-top: 2em;
}
.about-emote-container {
    display: flex; 

    justify-content: center;
    padding-top: 1em;
}

.more-txt {
    padding: 1em 6em 1em 6em;
}


/***** CONTACT *****/
.contact-txt {
    padding: 5em 0em 0em 0em;
    align-content: center;
}

/***** MOBILE ******/
@media only screen and (max-width: 1200px) {
    .about-txt {
        margin: 2em 3em;
    }

    .about-container {
        grid-template-areas: 
        'p-img'
        'txt'
        'emote';

        grid-template-columns: 100%;
        padding: 0;
    }
    .portrait-img {
        size: 40%;
        height: auto;
    }
    .portrait-container {
        justify-content: center;
    }
    .emote-txt {
        margin: 2em 3em;
        padding-top: 0;
    }
}
/******** Desktop *********/
@media only screen and (min-width: 1024px) {
    .show-desktop {
        display: block;
        margin: 0 auto 13% auto;
    }
    .hide-desktop {
        display: none;
    }
    nav ul {
        position: inherit;
        width: auto;
        background: none;
        height: auto;
        display: flex;
        padding-top: 0;
    }
    nav ul li {
        float: left;
    }
    nav ul li a {
        color: white;
        background-color: inherit;
        text-align: right;
        padding: 1em 1em;
        margin-left: -15px;
        margin-top: 10px;
    }
    .grid-container {
        margin-top: 75px;
        display: grid;
        grid-template-columns: 20% 20% 20% 20% 20%;
        grid-template-rows: 72px 1max-content;
        grid-template-areas: "header header header header header" 
                             "sidebar-left main-content main-content main-content sidebar-right";
    }


    .work-item a {
        width: 50%;
        display: inline-block;
    }
    .work-item span {
        display: flex;
        flex-direction: column;
        margin: 2em; 
        justify-content: center
    }
    .work-item {
        grid-template: 'img txt';
        display: flex;
        flex-direction: row;
        background-color: rgb(241, 241, 241);
    }
 
   
    
}

section {
    padding: 4em 0em;
}
section img {
    max-width: 80%;
    height: auto;
    width: auto/9;
    text-align: center;
}

